body {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.welcome-text {
    line-height: 159.5%;
    text-align: center;
    margin-bottom: 67px;
}

.brand {
    margin: 50px 0;
}

.index {
    width: 1010px;
    text-align: center;
    padding: 100px 165px;
    background: #fafafa;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.input-form {
    padding: 15px 30px;
    background: #f4f4f4;
    border: none;
    border-radius: 60px;
}

.btn-subs {
    padding: 15px 30px;
    width: 100%;
    background: #8de07f;
    border-radius: 60px;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-subs.orange {
    margin-top: 25px;
    background-color: #ff7d63;
}

.check {
    max-width: 100%;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
}

.brand.subs {
    display: block;
    max-width: 100%;
    width: 115px;
}

.delete-icon {
    width: 35px;
    height: 35px;
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.card-title {
    float: left;
}

.delete-btn {
    float: right;
}

.header-card {
    margin-bottom: 50px;
}

.card-text {
    text-align: left;
}

.card .btn {
    display: inline;
    padding: 5px 15px;
    text-transform: none;
    margin-bottom: 15px;
}

.export-btn {
    margin-top: 20px;
    width: 30%;
    padding: 10px 15px;
    float: right;
}
